@model CentralLibrary.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reservation_id" class="control-label"></label>
                <input asp-for="Reservation_id" class="form-control" />
                <span asp-validation-for="Reservation_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book_id" class="control-label"></label>
                <input asp-for="Book_id" class="form-control" />
                <span asp-validation-for="Book_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card_id" class="control-label"></label>
                <input asp-for="Card_id" class="form-control" />
                <span asp-validation-for="Card_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation_date" class="control-label"></label>
                <input asp-for="Reservation_date" class="form-control" />
                <span asp-validation-for="Reservation_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <img src="https://us.123rf.com/450wm/alexwhite/alexwhite1306/alexwhite130602209/20468955-subscribe-icon.jpg" />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
